<% provide(:title, "Contact") %>
<center><h1>Contact Sarayu Hostel</h1></center> <br> <br>
<h4>Keerthana</h4>
<p>Sarayu Hostel</p>
<p>EP15B012</p>
<p>keerukeerthana8@gmail.com</p>
<p><b>Mobile:</b>9551127841</p>
<br><br>
<h4>Mythreyi</h4>
<p>Sarayu Hostel</p>
<p>MM15B022</p>
<p>mytibala@gmail.com</p>
<p><b>Mobile:</b>9626835877</p>
