<% provide(:title, "Executive Body") %>
<center><h1>Executive Body</h1></center> <br> <br>

<h3> General Secretary </h3>
<h4>Keerthana</h4>
<p>EP15B012</p>
<p>keerukeerthana8@gmail.com</p>
<p><b>Mobile:</b>9551127841</p>

<a href="/assets/1.pdf"> Manifesto </a>

<h3> Sports Secretary </h3>
<h4>Srilekha</h4>
<p>EP15B010</p>
<p>gandharisrilekha@gmail.com</p>
<p><b>Mobile:</b>9551127841</p>

<a href="/assets/2.pdf"> Manifesto </a>

<h3> Technical Affairs Secretary </h3>
<h4>Mythreyi</h4>
<p>MM15B022</p>
<p>mytibala@gmail.com</p>
<p><b>Mobile:</b>9626835877</p>

<a href="/assets/3.pdf"> Manifesto </a>

<h3> Literary Affairs Secretary </h3>
<h4>Mruthula</h4>
<p>CH15B053</p>
<p>abcdef@gmail.com</p>
<p><b>Mobile:</b>9551127841</p>

<a href="/assets/4.pdf"> Manifesto </a>