<% provide(:title, "Hostellers") %>
<center><h1>Hostellers</h1></center> <br> <br>
<table>
	<tr>
		<th> Name </th>
		<th> Room Number </th>
		<th> Roll Number </th>
	</tr>
	<tr>
		<td> Srilekha Gandhari </td>
		<td> 421 </td>
		<td> EP15B010 </td>
	</tr>
	<tr>
		<td> Namida Mohammed </td>
		<td> 421 </td>
		<td> EE15B010 </td>
	</tr>
	<tr>
		<td> Anuvetha Govindarajan </td>
		<td> 426 </td>
		<td> EP15B009 </td>
	</tr>
	<tr>
		<td> Niveda G </td>
		<td> 426 </td>
		<td> EP15B019 </td>
	</tr>
	<tr>
		<td> Anicha Reuban </td>
		<td> 428 </td>
		<td> MM15B002 </td>
	</tr>
	<tr>
		<td> Kavitha G </td>
		<td> 428 </td>
		<td> CS15B056 </td>
	</tr>
	<tr>
		<td> Sahana Ramnath </td>
		<td> 214 </td>
		<td> EE15B109 </td>
	</tr>
	<tr>
		<td> Anupama Sekar </td>
		<td> 419 </td>
		<td> EE15B009 </td>
	</tr>
	<tr>
		<td> Keerthana S </td>
		<td> 459 </td>
		<td> EP15B012 </td>
	</tr>
	<tr>
		<td> Mythreyi R </td>
		<td> 462 </td>
		<td> MM15B022 </td>
	</tr>
</table>