<% provide(:title, "Performance Sarayu Hostel") %>
<center><h1>Inter-Hostel Events</h1></center> <br> <br> <br><br>

<center><h3>TechSoc</h3></center> <br><br>

<h4> Autonomous Robotics </h4>
<p> The Freshies put infi fight and got placed First!!! Beating all other hostels! </p>
<br>
<h4> Reverse Coding </h4>
<p> Got some 3rd place! </p>

<br><br><br>

<center><h3>LitSoc</h3></center> <br> <br>

<h4> LitSoc Dramatics </h4>
<p> Over a month of rigorous practice and preparation didn't go in vain for the "Twinkly Helter-Skelter" team got placed First! Moreover, "Best Actor - Female" went to Ramya Vijayram from Sarayu!</p>
<br>
<h4> Choreo </h4>
<p> Two amazing dancers, Pearly and Sai Teja, grabbed two postions out of top three! Bringing loads of pride to Sarayu!</p>
<br>
<h4> Choreo Night</h4>
<p> Got placed 5th! Brilliant performance!</p>


