<% provide(:title, "Login") %>
<h1>Login to Your Account</h1>
<br>
<form class="new_session" id="new_session" action="/sessions" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

      <label for="session_rollno">Rollno*</label>
      <input class="form-control" type="text" name="session[rollno]" id="rollno" />
      <br>

      <label for="session_password">Password*</label>
      <input class="form-control" type="password" name="session[password]" id="user_password" />
      <br>
      
      <input type="submit" name="commit" value="LOGIN" class="btn btn-primary" />
      <br><br>
</form>